main {
  padding-top: 80px; /* Adjust based on your header height */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body{
  background-color: aquamarine;
}

div {
  background-image:url('/mountain.jpg') no-repeat center center/cover;
  background-size: cover; /* Adjusts image to cover the div */
  background-position: center; /* Centers the image */
}